<nav class="navbar navbar-fixed-top navbar-default" id="topnav">
	<div class="container-fluid">
		<div class="navbar-right">
			<a id="toc-toggle">
				<span class="glyphicon glyphicon-menu-right"></span>
				<span class="glyphicon glyphicon-menu-left"></span>
			</a>
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-wrapper" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<span title="light mode switch" class="glyphicon glyphicon-sunglasses pull-right" id="lightmode-icon"></span>
			<button type="button" class="navbar-form pull-right" id="search-trigger" aria-label="Search">
				<span class="glyphicon glyphicon-search"></span>
				<span class="search-trigger-label">Search</span>
				<kbd class="search-trigger-kbd">Ctrl K</kbd>
			</button>
			<dialog id="search-dialog">
				<div id="search"></div>
			</dialog>
		</div>
		<div class="navbar-header">
			<a id="sidenav-toggle">
				<span class="glyphicon glyphicon-menu-right"></span>
				<span class="glyphicon glyphicon-menu-left"></span>
			</a>
			<a id="home-link" href="index.html" class="hotdoc-navbar-brand">
				@include("brand-logo.html")
			</a>
		</div>
		<div class="navbar-collapse collapse" id="navbar-wrapper">
			<ul class="nav navbar-nav" id="menu">
				@include("navbar_links.html")
			</ul>
			<div class="hidden-xs hidden-sm navbar-text navbar-center">
				@include("navbar_center.html")
			</div>
		</div>
	</div>
</nav>
