@import 'base.less';

.page_container {
	&:extend(.container-fluid);
}

.navbar {
	min-height: 34px;
	background-color: #313232;
	border-color: black;
}

.navbar-nav > li > a {
	padding-top: 7px;
	padding-bottom: 0px;
}

// Account for the navbar, official solution
body {
	padding-top: 70px;
	// scrollspying
	position: relative;
	font-family: sans-serif;
}

.section_headings {
    position: relative;
    z-index: 1;
    overflow: hidden;
    text-align: center;
}

.section_headings:before, .section_headings:after {
    position: absolute;
    top: 51%;
    overflow: hidden;
    width: 50%;
    height: 1px;
    content: '\a0';
    background-color: black;
}

.section_headings:before {
    margin-left: -51%;
    text-align: right;
}

.section_headings:after {
    margin-left: 1%;
}

h1:nth-of-type(1) {
	margin-top: 0px;
}

h1, h2 {
    margin-bottom: 20px;
}

a, a:active, a:focus {
        outline: none !important;
        cursor: pointer;
}

.base_symbol_container {
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	width: 100%;
}

.symbols_toc, .base_symbol_header {
	list-style: none;
	width: 100%;
	margin: 0;
}

.symbols_toc {
	padding-left: 15px;
	padding-right: 15px;
}

.base_symbol_header {
	> li {
		display: inline-block;
		h3 > span > code {
			padding: 0;
		}
	}
	padding: 0;
}

.symbols_toc:after {
	content: '';
	display: block;
	clear: both;
}

.base_symbol_summary {
	width: 100%;
	clear: both;
}

.base_symbol_summary > * {
	display: inline-block;
	padding: 0px 4px;
}

.base_symbol_summary .summary_type {
	width: 30%;
	text-align: right;
}

.base_symbol_summary .summary_name {
	width: 40%;
}

.base_symbol_summary .summary_extra {
	width: 20%;
}

img {
	max-width: 100%;
}

#page-description {
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
}

.symbol_section {
	padding-left: 15px;
	padding-right: 15px;
	width: 100%;
}

#menu {
       	> .btn-group {
		> button, ul {
			background-color: #313232;
			color: white;
			border-color: #777;
			> .divider {
				background-color: #131313;
			}
		}
	}
}

.dropdown-menu > li > a {
	color: white;
}

#navbar-wrapper > span {
	color: #777;
}
