@import 'base.less';

.parameter_container, .member_container {
	> table {
		&:extend(.table all);
		> thead,
		> tbody,
		> tfoot {
		  > tr {
		    td:nth-child(3) {
		            text-align: right;
		    }
		  }
		}
	}
}

.page_container {
	&:extend(.container-fluid);
}

// Account for the navbar, official solution
body {
	padding-top: 70px;
}

*[id]:before { 
  display: block; 
  content: " "; 
  margin-top: -70px; 
  height: 70px; 
  visibility: hidden; 
}

.base_symbol_container {
	width: 100%;
}

.symbols_toc, .base_symbol_header {
	list-style: none;
	width: 100%;
	margin: 0;
	padding: 0;
}

.base_symbol_header {
	> li {
		display: inline-block;
		padding: 0px 4px;
	}
}

.symbols_toc:after {
	content: '';
	display: block;
	clear: both;
}

.base_symbol_summary {
	width: 100%;
	clear: both;
}

.base_symbol_summary > * {
	display: inline-block;
	padding: 0px 4px;
}

.base_symbol_summary .summary_type {
	width: 20%;
	text-align: right;
}

.base_symbol_summary .summary_name {
	width: 40%;
}

.base_symbol_summary .summary_extra {
	width: 30%;
}
