@import 'base.less';

.parameter_container, .member_container, .multi_return_value_container {
	> table {
		&:extend(.table all);
		> thead,
		> tbody,
		> tfoot {
		  > tr {
		    td:nth-child(3) {
		            text-align: right;
		    }
		  }
		}
	}
}

.page_container {
	&:extend(.container-fluid);
}

.navbar {
	min-height: 0px;
}

// Account for the navbar, official solution
body {
	padding-top: 70px;
	// scrollspying
	position: relative;
}

.symbol_section, .base_symbol_container {
	padding-top: 50px;
	margin-top: -50px;
}

.base_symbol_container {
	width: 100%;
}

.symbols_toc, .base_symbol_header {
	list-style: none;
	width: 100%;
	margin: 0;
	padding: 0;
}

.base_symbol_header {
	> li {
		display: inline-block;
		padding: 0px 4px;
	}
}

.symbols_toc:after {
	content: '';
	display: block;
	clear: both;
}

.base_symbol_summary {
	width: 100%;
	clear: both;
}

.base_symbol_summary > * {
	display: inline-block;
	padding: 0px 4px;
}

.base_symbol_summary .summary_type {
	width: 30%;
	text-align: right;
}

.base_symbol_summary .summary_name {
	width: 40%;
}

.base_symbol_summary .summary_extra {
	width: 20%;
}

// sidenav

#sidenav-column {
	padding: 0px;
}

#sidenav {
	position: fixed;
	top: 35px;
	bottom: 0px;
	left: 0px;
	overflow-y: auto;
	width: 15%;
	min-height: 100%;
	background-color: #333;
}

.sidenav-panel-body {
  &:extend(.panel-body);
  padding: 0px;
  padding-left: 5px;
  color: white;
}

.sidenav-main-panel-body {
  &:extend(.sidenav-panel-body);
  padding: 0px;
}

.sidenav-panel-even {
	background-color: #1C1C1C;
}

.sidenav-panel-odd {
	background-color: #333;
}

a[aria-expanded=true] .glyphicon-chevron-right {
   display: none;
}
a[aria-expanded=false] .glyphicon-chevron-down {
   display: none;
}

// Scrollspy

.scrollspy {
	padding-left: 5px;
	background-color: #131313;
}

.nav a {
  font-style: italic;
  color: white;
}

.nav li a:hover,
.nav li a:focus {
  background: #86c5da;
}

.nav .active {
  font-weight: bold;
  border-left: 5px solid black;
}

.nav .nav {
  display: none;
}

.nav .active .nav {
  display: block;
}
